<template>
  <v-app>
    
    <div v-if="this.checkLogin==false">
           <Login/>
    </div>
 
    <div v-if="this.checkLogin==true">
       <Navbar/>
    </div>
   

    <v-main>

<router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
import Navbar from './components/Navbar'
import Login from './components/Login'

export default {
  name: 'App',
  components:{
    Navbar,
    Login
  },
 
  created(){
    if(localStorage.getItem('access_token')){
      this.checkLogin = true
      
    }else{
      
      this.checkLogin=false;
    }
    
  },
  data: () => ({
    checkLogin:''
  }),
};
</script>
