<template>
<div>
<template>
  <div class="text-center">
   

    <v-snackbar
      v-model="snackbar"
      
      :top="top"
      :right="right"
      :color="mausac"
    >
      {{ text }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color=""
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>


  <v-data-table
    :headers="headers"
    :items="desserts"
    
    sort-by="calories"
    class="elevation-1"
    

    
  >
  
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>My Category</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{  attrs }">
            <v-btn
              color="primary"
              dark
              class="mb-2"
              v-bind="attrs"
              @click="newc"
            >New Category</v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                    <v-form
                        ref="form"
                        v-model="valid"
                        lazy-validation
                      >
                      
                        <v-text-field v-if="editedIndex == 1 "
                          v-model="categoryID"
                          
                          label="categoryID"
                          
                          :readonly="true"
                        ></v-text-field>
                    
                        <v-text-field
                          v-model="categoryName"
                         
                          :rules="nameRules"
                          label="categoryName"
                          required
                        ></v-text-field>
                      
                        <v-text-field
                          v-model="categorySlug"
                          :rules="emailRules"
                          label="categorySlug"
                          required
                        ></v-text-field>
                    
                        
                    
                    
                        <v-btn v-if="editedIndex == -1 "
                          :disabled="!valid"
                          color="success"
                          class="mr-4"
                          @click="submit"
                        >
                          Create
                        </v-btn>

                        <v-btn v-if="editedIndex == 1 "
                          :disabled="!valid"
                          color="success"
                          class="mr-4"
                          @click="update"
                        >
                          Update
                        </v-btn>
                    
                        <v-btn
                          color="error"
                          class="mr-4"
                          @click="reset"
                        >
                          Reset Form
                        </v-btn>
                    
                        
                      </v-form>
              </v-container>
            </v-card-text>

            
          </v-card>
        </v-dialog>
      </v-toolbar>

       
    </template>
    
    <template v-slot:item.actions="{item}">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
      
    </template>
    
    <template v-slot:no-data>
      <v-btn color="primary" @click="initialize">Reset</v-btn>
    </template>







  </v-data-table>

<div class="text-center">
    <v-pagination
      v-model="page"
      :length="length"
      @input="changePage"
    ></v-pagination>
  </div>

</div>
  
</template>





<script>

  export default {

    

    data: () => ({

      valid: true,
   
      nameRules: [
        v => !!v || 'Name is required',
        v => (v && v.length >= 5) || 'Name must be greater than 5 characters',
      ],

      emailRules: [
        v => !!v || 'Slug is required',
        
      ],


      snackbar: false,
      text: 'Lorem ipsum dolor sit amet',
      top:true,
      right:true,
      mausac:'',

      categoryName: '',
      categorySlug: '',
      categoryID:'',
      page: 1,
      length:0,
      dialog: false,
      
      headers: [
        {
          text: '#ID',
          align: 'start',
          value: 'id',
        },
        { text: 'Calories Name', value: 'name' },
        { text: 'Slug', value: 'slug' },
        { text: 'Total_Product', value: 'total' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      desserts: [],
      editedIndex: -1,
     
    }),

    computed: {


      formTitle () {
        return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
      },
      
    },

    watch: {
      dialog (val) {
        val || this.close()
      }
      
    },

    created () {
      this.initialize()
      this.getAllCategory()
     
    },

    methods: {


        
    

      totalProduct(){
        return 0;
      }

      ,

        changePage(page){
        this.getAllCategory(page);
        },

      initialize () {
        this.desserts = [
      
         
        ]
      },

      getAllCategory(page = 1){
        this.$axios.get(`category?page=${page}`).then((res)=>{
          this.length = res.data.data.last_page;
         
        var arr=[];
          for(var i=0;i<res.data.data.data.length;i++){
              var dem =0;
              
            for(var j=0;j<res.data.data.data[i].products.length;j++){
              dem=dem+1;
            }
          var data = 
            {
              "id":res.data.data.data[i].id,
              "name":res.data.data.data[i].name,
              "slug":res.data.data.data[i].slug,
              "total":dem
            }
          
          //console.log(data);
           arr.push(data)
          //  this.desserts.push(data);
         //   console.log(this.desserts);
          }
      //  console.log(arr);
           this.desserts = arr;
         
        });

    
            
      },
      newc(){
        this.editedIndex = -1
        this.categoryID = ''
        this.categoryName = ''
        this.categorySlug = ''
        this.dialog = true


        
      },

      editItem (item) {
        this.editedIndex = 1
        this.categoryID = item.id
        this.categoryName = item.name
        this.categorySlug = item.slug
        this.dialog = true
      },

      deleteItem (item) {
        var self = this;
       var r = confirm('Are you sure you want to delete this item?');
       if(r==true){

          this.$axios.delete(`category/${item.id}`).then(function(res){
          if(res.data.status==true){

            self.mausac="success"
             self.text ="Delete Success !"
            self.snackbar = true
        

          }else{
            self.text=res.data.message
            self.mausac='error'
            self.snackbar = true
          }
        });
         
       }


       
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

     

       submit () {
         
        if(this.$refs.form.validate()){

          
        var self = this;
         this.$axios.post('category',{
           name:this.categoryName,
           slug:this.categorySlug
         }).then(function(res){
          
          if(res.data.status==true){
             self.mausac="success"
             self.text ="Success Created !"
            self.snackbar = true
             return;
          }
          
           if(res.data.errors){      
            self.text=res.data.errors.messages.slug[0];
            self.mausac='error'
            self.snackbar = true
             
           }
           
         }).catch(function(errorr){
           console.log(errorr);
         });

        }
      
        

      },
      update(){
        if(this.$refs.form.validate()){
      var self = this
        this.$axios.put(`category/${this.categoryID}`,{
           name:this.categoryName,
           slug:this.categorySlug
        }).then(function(res){
      
           if(res.data.status==true){
             self.mausac="success"
             self.text ="Success Update !"
            self.snackbar = true
             return;
          }
          if(res.data.message){    
         
            self.text=res.data.message
            self.mausac='error'
            self.snackbar = true
             
           }

        });
        }

      },
       reset () {
        this.$refs.form.reset()
      },
      clear () {
        this.$v.$reset()
        this.categoryName = ''
        this.categorySlug = ''
      
      },
    },
  }
</script>


