<template>
<div>
<v-snackbar
      v-model="snackbar"
      
      :top="top"
      :right="right"
      :color="mausac"
    >
      {{ text }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color=""
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>

  <v-form >
    <v-container>
      <v-row>
    

        <v-col
          cols="12"
          md="4"
        >
          <v-text-field
            v-model="email"
            label="E-mail"
            required
          ></v-text-field>
        </v-col>

             <v-col
          cols="12"
          md="4"
        >
          <v-btn
        color="success"
        class="mr-4"
        @click="getAll"
      >
        Search
      </v-btn>
        </v-col>



          
      </v-row>
    </v-container>
  </v-form>

<template v-if="checkHidden == true" >
  <v-data-table
    :headers="headers"
    :items="desserts"
    class="elevation-1"
    hide-default-footer
  >

  
                    <template v-slot:top>
                        <v-toolbar flat color="white">
                            <v-toolbar-title>Guarantee Manage</v-toolbar-title>
                            <v-divider
                            class="mx-4"
                            inset
                            vertical
                            ></v-divider>
                            <v-spacer></v-spacer>
                            <v-dialog v-model="dialog" max-width="500px">
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn
                                color="primary"
                                dark
                                class="mr-2"
                                v-bind="attrs"
                                v-on="on"
                                @click="getList"
                                >New</v-btn>

                                <v-btn
                                color="success"
                                dark
                                class="mr-2"
                                v-bind="attrs"
                                v-on="on"
                                @click="checkCreat=true"
                                >Create Type</v-btn>
                            </template>
                            <v-card>
                                <v-card-title>
                                <span class="headline">Guarantee Form</span>
                                </v-card-title>

                                <v-card-text>
                                <v-container>
                                
                                      <div v-if="checkCreat == false">
                                            <v-row>
                                          <v-col cols="12" sm="12" >
                                        <v-text-field v-model="productName"  label="Name of Product"></v-text-field>
                                    </v-col>
                                      <v-col class="d-flex" cols="12" sm="12">
                                          <v-select
                                            :items="selectType"
                                            label="Guarantee Type"
                                            v-model="type"
                                            outlined
                                          ></v-select>
                                        </v-col>

                                     <v-col cols="12" sm="12" >
                                          <v-btn @click="addSubmit" color="primary">Submit</v-btn>
                                    </v-col>
                                      </v-row>
                                      </div>


                                      <div v-if="checkCreat == true">
                                            <v-row>
                                          <v-col cols="12" sm="12" >
                                        <v-text-field  v-model="name" label="Name of Type"></v-text-field>
                                        </v-col>
                                       <v-col cols="12" sm="12" >
                                        <v-text-field v-model="time" type="number" label="Day to Done"></v-text-field>
                                        </v-col>

                                     <v-col cols="12" sm="12" >
                                          <v-btn @click="addGuas" color="primary">ADD</v-btn>
                                    </v-col>
                                      </v-row>
                                      </div>
                                  
                                         
                               
                                </v-container>
                                </v-card-text>

                                <v-card-actions>
                                <v-spacer></v-spacer>
                           
                                </v-card-actions>
                            </v-card>
                            </v-dialog>
                        </v-toolbar>
                        </template>
                        </v-data-table>
</template>
  </div>


</template>

<script>
  export default {
    data: () => ({
      name:'',
      time:'',
      productName:'',
      selectType:[],
      type:'',
      checkCreat:false,
       snackbar: false,
      text: 'Lorem ipsum dolor sit amet',
      top:true,
      right:true,
      mausac:'',

        checkHidden:false,
        email:'nevermorethuan1408@gmail.com',
        dialog:false,
         headers: [
        {
          text: '#ID',
          align: 'start',
          value: 'id',
        },
        { text: 'Product name *', value: 'product_name' },
        { text: 'Name', value: 'username' },
        { text: 'Phone', value: 'phone' },
        { text: 'Misstake', value: 'nametype' },
        { text: 'Time Start', value: 'created_at' },
        { text: 'Time To Done', value: 'time_to_done' },

      ],
      desserts:[
          
      ],
 
    }),
    methods:{

        getAll(){
  
          var self = this;
            this.$axios.post('guarantee',{
                email:this.email
            }).then((res)=>{
             if(res.data.status == true){

               self.checkHidden=true;
               self.desserts = res.data.data;
              
                self.mausac="success"
                self.text ="Showing Data !"
                self.snackbar = true
             }else{

               self.mausac="error"
                self.text ="Record not found !"
                self.snackbar = true
             }
              
          
            })
   

        },
        addSubmit(){
          var self = this;
          this.$axios.post('guarantee1',{
            productName:this.productName,
            email:this.email,
            type:this.type
          }).then((res)=>{
            console.log(res);
            if(res.data.status == true){

                self.mausac="success"
                self.text ="Create Guarantee Success !"
                self.snackbar = true
            }
          });
        },
        getList(){
          this.checkCreat=false;
          this.$axios.get('guarantee').then((res)=>{
              this.selectType = res.data.data;
          });
        },

          close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },
      addGuas(){
        var self = this;
        this.checkCreat=true;
        this.$axios.post('creategua',{
          name:this.name,
          time:this.time
        }).then((res)=>{
          console.log(res);
               self.mausac="success"
                self.text ="Add New Success !"
                self.snackbar = true
        });
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.desserts[this.editedIndex], this.editedItem)
        } else {
          this.desserts.push(this.editedItem)
        }
        this.close()
      },
    }
  }
</script>