<template>
    <nav>
        <v-navigation-drawer v-model="drawer" dark="" app class="blue accent-2">
            <v-layout column align-center>
                <v-flex class="mt-10 mb-8">
                    <v-avatar >
                        <v-icon large>fas fa-store</v-icon>
                    </v-avatar>
                </v-flex>
            </v-layout>

            <v-list>
            <v-list-item v-for="link in links" :key="link.text" router :to="link.route" active-class="border">
                    <v-list-item-action>
                        <v-icon>{{link.icon}}</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>{{link.text}}</v-list-item-title>
                    </v-list-item-content>
            </v-list-item>
            </v-list>

        </v-navigation-drawer>
         <v-app-bar
                app
                dark
                class="blue accent-2"
                >
                <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
                <v-toolbar-title>Admin Dashboard</v-toolbar-title>
    </v-app-bar>
    </nav>

    
</template>

<script>
export default {
  
    data :()=>({
        drawer:true,
        links:[
            {icon:'fas fa-home',text:'Home',route:'/'},
            {icon:'far fa-list-alt',text:'Category',route:'/category'},
            {icon:'fab fa-product-hunt',text:'Product',route:'/product'},
            {icon:'fas fa-sliders-h',text:'Slide',route:'/slide'},
            {icon:'fas fa-newspaper',text:'Post',route:'/post'},
             {icon:'far fa-life-ring',text:'Guarantee',route:'/guarantee'},
            {icon:'fas fa-chart-bar',text:'Statistical',route:'/statistical'},
            {icon:'fas fa-sign-out-alt',text:'Logout',route:'/logout'},
            
           
        ]
        
    }),
    methods:{
        
    },
    
}
</script>
<style scoped>
    .border{
        border-left: 4px solid #2c2c2c;
    }
</style>