<template>
<div>


  <template>
  <v-row justify="center">
    <v-dialog v-model="dialogb" persistent max-width="600px">
   
      <v-card>
        
        <v-card-text>
          <v-container>
            <v-row>
              <v-textarea
                background-color="grey lighten-2"
                color="cyan"
                label="Size"
                :value="test"
                :readonly="true"
              ></v-textarea>

              <v-col cols="12"  >
                <v-select
                v-model="selectedBank"
                  :items="arrSize"
                  label="Size"
                  multiple
                ></v-select>
              </v-col>
              <v-btn class="mr-4" text @click="inSize"  >In Size</v-btn>
              <v-btn color="blue darken-1" text @click="dialogb = false">Close</v-btn>
            </v-row>
            
          </v-container>
          <small>*CHOSE SIZE FOR SHOES</small>
        </v-card-text>
       
      </v-card>
    </v-dialog>
  </v-row>
</template>

  <template>
  <v-row justify="center">
    <v-dialog v-model="dialoga" fullscreen hide-overlay transition="dialog-bottom-transition">
   
      <v-card>
        <v-toolbar dark color="primary">
          <v-btn icon dark @click="dialoga = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Multi Image</v-toolbar-title>
          <v-spacer></v-spacer>
   
        </v-toolbar>
       
       <v-row>
        <v-col cols="12" sm="6" offset-sm="3">
          <v-card>
            <v-container fluid>
              <v-row>
                <v-col
                  v-for="n in it"
                  :key="n.id"
                  class="d-flex child-flex"
                  cols="3"
                >
                  <v-card flat tile class="d-flex">
                    <v-img
                      :src="n.image"
                      :lazy-src="n.image"
                      aspect-ratio="1"
                      class="grey lighten-2"
                    >
                      <template v-slot:placeholder>
                        <v-row
                          class="fill-height ma-0"
                          align="center"
                          justify="center"
                        >
                          <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                        </v-row>
                      </template>
                    </v-img>
                  </v-card>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
      </v-row>





        <v-divider></v-divider>


        <v-data-table
    :headers="hd"
    :items="it"
    hide-default-footer
    class="elevation-1"
  >
    
         
    <template v-slot:item.action2="{ item }">
      
      <v-icon
        small
        @click="deleteImg(item)"
      >
        mdi-delete
      </v-icon>
    </template>
    
  </v-data-table>

         <form>
            <v-file-input required multiple v-model="imageInput" label="File input"></v-file-input>
          <v-btn class="mr-4" @click="upLoadImage">Upload</v-btn>
         
        </form>
       
      </v-card>
    </v-dialog>
  </v-row>
</template>

  <template>
  <div class="text-center">
   

    <v-snackbar
      v-model="snackbar"
      
      :top="top"
      :right="right"
      :color="mausac"
    >
      {{ text }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color=""
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>
  <v-data-table
    :headers="headers"
    :items="desserts"
    sort-by="calories"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>My Products</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on }">
            <v-btn
              color="primary"
              dark
              class="mb-2"
            
              v-on="on"
            >New Item</v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
<v-form
    ref="form"
    v-model="valid"
    lazy-validation
>
  
            <v-card-text>
              <v-container>
            <v-row>
              <v-col cols="12" >
                <v-text-field v-model="productId" v-if="editedIndex != -1" label="ID" required :readonly="true"></v-text-field>
              </v-col>
              <v-col cols="12" >
                <v-text-field v-model="productName" :rules="nameRules" label="Product Name" hint="Required" required></v-text-field>
              </v-col>
             
              <v-col cols="12">
                <v-text-field v-model="productSlug" :rules="slugRules" label="Slug" required></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field v-model="productPrice" :rules="priceRules" label="Price" type="number" required></v-text-field>
              </v-col>
              <v-col cols="6" >
                <v-select v-model="productCategory"
                  :items="categoryData"
                  label="Category"
                  required
                  :rules="categoryRules"
                ></v-select>
              </v-col>

              <v-col cols="6" >
                 <v-file-input  v-model="productImage" accept="image/*" label="File input"></v-file-input>
              </v-col>
              
    
               <v-btn 
               v-if="editedIndex == -1"
                          :disabled="!valid"
                          color="success"
                          class="mr-4"
                          @click="submit"
                        >
                          Create
                        </v-btn>

                         <v-btn 
               v-if="editedIndex != -1"
                          :disabled="!valid"
                          color="success"
                          class="mr-4"
                          @click="Update"
                        >
                          Update
                        </v-btn>
                    
                        <v-btn
                          color="error"
                          class="mr-4"
                          @click="reset"
                        >
                          Reset Form
                        </v-btn>
    
            </v-row>
          </v-container>
          <small>*indicates required field</small>
            </v-card-text>
</v-form>
           
          </v-card>
        </v-dialog>
      </v-toolbar>



    </template>

<template v-slot:item.image="{ item }">
            <div class="p-2">
          
               <img :src="item.image" :alt="item.name" width="50" height="50">
            </div>
</template>

    <template v-slot:item.actions="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        mdi-pencil 
      </v-icon>

     

      <v-icon
        small
        class="mr-2"
        @click="multiImage(item)"
      >
        mdi-camera-image 
      </v-icon>

      <v-icon
        small
        class="mr-2"
        @click="showSize(item)"
      >
        mdi-circle-edit-outline
      </v-icon>

       <v-icon
        small
        @click="deleteItem(item)"
      >
        mdi-delete 

      </v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn color="primary" @click="initialize">Reset</v-btn>
    </template>
  </v-data-table>

<div class="text-center">
    <v-pagination
      v-model="page"
      :length="length"
      @input="changePage"
    ></v-pagination>
  </div>

  </div>
</template>

<script>
  export default {
    data: () => ({

      dialogb:false,
      dialoga: false,
      arrSize:[],
      selectedBank:'',
      snackbar: false,
      text: 'Lorem ipsum dolor sit amet',
      top:true,
      right:true,
      mausac:'',

      imageInput:[],

      test:'',
      productId:'',
      productName:'',
      productSlug:'',
      productPrice:'',
      productCategory:'',
      productImage:[],


      valid: true,
   
      nameRules: [
        v => !!v || 'Name is required',
        v => (v && v.length >= 5) || 'Name must be greater than 5 characters',
      ],

      slugRules: [
        v => !!v || 'Slug is required',
        
      ],
      priceRules: [
        v => !!v || 'Price is required',
        
      ],
      categoryRules: [
        v => !!v || 'Category is required',
        
      ],

      imageRules: [
        v => !!v || 'Image is required',
        
      ],

      dialog: false,
      page:1,
      length:10,
      hd :[{

        text: '#ID',
        value:'id'
        },{
        text: 'Path',
        value:'image'
        },
        {text:'Action',value:'action2'}
      ],
        it :[
         
      ],
      headers: [
        {
          text: '#ID',
          align: 'start',
          value: 'id',
        },
        { text: 'Name', value: 'name' },
        { text: 'Slug', value: 'slug' },
        { text: 'Price', value: 'price' },
        { text: 'Category', value: 'category' },
        { text: 'Image', value: 'image' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      desserts: [],
      editedIndex: -1,
      categoryData:[
       
      ],
     
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      this.initialize()
      this.getAllProduct()
      this.loadCategory()
    },

    methods: {

      initialize () {
        this.desserts = [
        ]
      },

      loadCategory(){
        this.$axios.get('categoryall').then((res)=>{
          this.categoryData = res.data.data;
        })
      },

      changePage(page){
        this.getAllProduct(page);
      },

     
     getAllProduct(page=1){

        this.$axios.get(`product?page=${page}`).then((res)=>{
          this.length = res.data.data.last_page;
           this.desserts = res.data.data.data;
          // console.log(res.data.data.data);
         
        });
       
      },
      submit(){
         var self = this;
        if(this.$refs.form.validate()){
       
           var fd = new FormData();
          fd.append('name',this.productName);
          fd.append('slug',this.productSlug);
          fd.append('price',this.productPrice);
          fd.append('image',this.productImage);
          fd.append('category_id',this.productCategory);

        //  console.log(fd);
          this.$axios.post('product',fd
           
          ).then((res)=>{
            
            if(res.data.status == true){
               self.mausac="success"
                self.text ="Create new product success"
                self.snackbar = true
            }

            if(res.data.errors){
              if(res.data.errors.messages.image){

                self.mausac="error"
                 self.text =res.data.errors.messages.image[0]
                self.snackbar = true
                
              }
              if(res.data.errors.messages.slug){
                self.mausac="error"
                 self.text =res.data.errors.messages.slug[0]
                self.snackbar = true
              }
            }
          }).catch((err)=>{
            console.log(err);
          });
        }
        
      },

      editItem (item) {
        
        this.editedIndex = 1
        
        this.productId=item.id 
        this.productName=item.name 
        this.productSlug = item.slug 
        this.productPrice = item.price

        this.dialog = true
      },

      Update(){
        var self = this;
        if(this.$refs.form.validate() ){
          console.log("PASS");
          var fd = new FormData();
        
          fd.append('name',this.productName);
          fd.append('slug',this.productSlug);
          fd.append('price',this.productPrice);
          fd.append('image',this.productImage);
          fd.append('category_id',this.productCategory);

           this.$axios.post(`product/${this.productId}?_method=PUT`,fd
           
          ).then((res)=>{
            console.log(res);
          
            if(res.data.status == true){
               self.mausac="success"
                self.text ="Update product success"
                self.snackbar = true
            }

            if(res.data.message){
             

                self.mausac="error"
                 self.text =res.data.message
                self.snackbar = true
     
            }
          }).catch((err)=>{
            console.log(err);
          });

        }
      },

      deleteItem (item) {
        var self = this;
       var r = confirm('Are you sure you want to delete this item?');
       if(r==true){

          this.$axios.delete(`product/${item.id}`).then(function(res){
            
          if(res.data.status==true){

            self.mausac="success"
             self.text ="Delete Success !"
            self.snackbar = true
        

          }else{
            self.text=res.data.message
            self.mausac='error'
            self.snackbar = true
          }
        });
         
       }
      },

      multiImage(item){
        this.dialoga = true;
        this.productId = item.id;
        this.loadMulti(item.id);

      },

      loadMulti(id){
        this.$axios.get(`multiimage/${id}`).then((res)=>{
          this.it = res.data.data
        });
      },

      reset () {
        this.$refs.form.reset()
      },

    deleteImg(item){
      this.$axios.delete(`multiimage/${item.id}`).then((res)=>{
        if(res.data.status){

           this.text="Xóa thành công"
            this.mausac='success'
            this.snackbar = true

        }
           
      });
    },
    upLoadImage(){
     
     var self =this;
       let fd = new FormData();

        for( var i = 0; i < this.imageInput.length; i++ ){
        let file = this.imageInput[i];
        fd.append('image[' + i + ']', file); 
    }
   
      fd.append('product_id',this.productId);
      this.$axios.post('multiimage', fd, {
        headers: {
            'Content-Type': 'multipart/form-data'
        },
      }
      ).then(function(res){
          if(res.data.status==true){

            self.text="Upload image success"
            self.mausac='success'
            self.snackbar = true

          }
            

      })
      .catch(function(){
      });
       
       
    
    },

    showSize(item){
      this.dialogb=true
      this.productId=item.id
      this.getAllSize()
      this.getOneSize()
    },

    getAllSize(){
        this.$axios.get('size').then((res)=>{
          this.arrSize = res.data.data;
        //  console.log(res);
        });
    },

    getOneSize(){
     let chuoi="";
      this.$axios.get(`size/${this.productId}`).then((res)=>{
          res.data.data.forEach(element => {
            chuoi=chuoi+element.size+"|";
           
          });
          this.test=chuoi;
      
});
    },

    inSize(){

      console.log(this.productId);


      var self =this;
       let fd = new FormData();

        for( var i = 0; i < this.selectedBank.length; i++ ){
        let size = this.selectedBank[i];
        fd.append('sizes[' + i + ']', size); 
    }
   
      
      this.$axios.post(`size/${this.productId}`, fd).then(function(res){
          if(res.data.status==true){

            self.text="InSize Success"
            self.mausac='success'
            self.snackbar = true

          }
            

      })
      .catch(function(){
      });
      

    },
      
      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      
    },
  }
</script>