<template>
<div>
<v-snackbar
      v-model="snackbar"
      
      :top="top"
      :right="right"
      :color="mausac"
    >
      {{ text }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color=""
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>

  <v-data-table
    :headers="headers"
    :items="desserts"
    sort-by="calories"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>SLIDE MANAGE</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="800px">
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="primary"
              dark
              class="mb-2"
              v-bind="attrs"
              v-on="on"
            >New Item</v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
               <v-form
                    ref="form"
                    v-model="valid"
                    lazy-validation
                >
                    

                    <v-text-field
                    v-model="slot"
                    type='number'
                    label="Slot"
                    required
                    ></v-text-field>

                    <v-select
                    v-model="select"
                    :items="items"
                    
                    label="Category"
                    required
                    ></v-select>

                   <v-file-input v-model="productImage" accept="image/*" label="File input"></v-file-input>

                    <v-btn
                    :disabled="!valid"
                    color="success"
                    class="mr-4"
                    @click="createSlide"
                    >
                    Creat Slide
                    </v-btn>

                    <v-btn
                    color="error"
                    class="mr-4"
                    @click="reset"
                    >
                    Reset Form
                    </v-btn>

                </v-form>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="save">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn color="primary" @click="initialize">Reset</v-btn>
    </template>

    <template v-slot:item.image="{ item }">
            <div class="p-2">
          
               <img :src="item.image" :alt="item.name" width="50" height="50">
            </div>
</template>

  </v-data-table>
  </div>
</template>

<script>
  export default {
    data: () => ({

     snackbar: false,
      text: 'Lorem ipsum dolor sit amet',
      top:true,
      right:true,
      mausac:'',


        
      valid: true,
      productImage: [],
      
      slot: '',
      
      select: null,
      items: [
        {text:'OK',value:'OK'}
      ],
  



      dialog: false,
      headers: [
        {
          text: '#ID',
          align: 'start',
          value: 'id',
        },
        { text: 'Category', value: 'category' },
        { text: 'Image', value: 'image' },
        { text: 'Slot', value: 'slot' },
        { text:'Actions',value:'actions'}

      ],
      desserts: [],
      editedIndex: -1,
      editedItem: {
        name: '',
        calories: 0,
        fat: 0,
        carbs: 0,
        protein: 0,
      },
      defaultItem: {
        name: '',
        calories: 0,
        fat: 0,
        carbs: 0,
        protein: 0,
      },
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      this.initialize()
      this.getAllSlide()
      this.getAllCategories()
    },

    methods: {

    getAllSlide(){
        this.$axios.get('slide').then((res)=>{
            
            this.desserts = res.data.data;
        });
    },
    getAllCategories(){
         this.$axios.get('categoryall').then((res)=>{
          this.items = res.data.data;
          
        })
    },

      initialize () {
        this.desserts = [
         
        ]
      },
    createSlide(){
        var self = this;
       
       
         var fd = new FormData();
          fd.append('category_id',this.select);
          fd.append('image',this.productImage);
          fd.append('slot',this.slot);
         
          this.$axios.post('slide',fd).then((res)=>{
            console.log(res);
            if(res.data.status == true){
               self.mausac="success"
                self.text ="Create new slide success"
                self.snackbar = true
            }

          }).catch((err)=>{
            console.log(err);
          });
        
    },



       validate () {
        this.$refs.form.validate()
      },
      reset () {
        this.$refs.form.reset()
      },
      resetValidation () {
        this.$refs.form.resetValidation()
      },

      editItem (item) {
        this.editedIndex = this.desserts.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
          var self = this;
        var r = confirm('Are you sure you want to delete this item?');
       if(r==true){

           this.$axios.delete(`slide/${item.id}`).then(function(res){
            
          if(res.data.status==true){

            self.mausac="success"
             self.text ="Delete Success !"
            self.snackbar = true
        

          }else{
            self.text=res.data.message
            self.mausac='error'
            self.snackbar = true
          }
        });

       }
        
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.desserts[this.editedIndex], this.editedItem)
        } else {
          this.desserts.push(this.editedItem)
        }
        this.close()
      },
    },
  }
</script>